body {
  overflow-x: hidden;
}

aside {
  position: fixed;
  height: 100%;
  top: 79px;
  left: 0;
  width: 300px;
  overflow-y: auto;
  transition: all 0.7s;
  z-index: 10;
}

aside ul {
  list-style: none;
  margin-bottom: 80px;
}

aside i {
  width: 20px;
  height: 20px;
  font-size: 20px;
}

aside li {
  margin-bottom: 20px;
  margin-left: -20px;
}

aside a {
  transition: all 0.5s;
  display: block;
}

aside a:hover:not(.active) {
  background: #484848;
}

aside a.active {
  background: #00AADC;
}

.raport {
  padding: 50px;
}

.mobile-only {
  display: none;
}

@media screen and (max-width: 1023px) {
  aside {
    left: -800px;
  }
  
  .raport {
    padding: 20px;
  }
  
  .mobile-only {
    display: block;
  }
  
  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 70px;
    height: 70px; 
    text-align: center;
    border-radius: 50%;
    font-size: 50px;
    top: 150px;
    right: 50px;
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    transition: all 0.7s;
    z-index: 20;
  }
  
  .nav-toggle {
    left: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav-btn {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
  }
}